function МассивныеПомогаторы.Перемешать 7
push argument 0
push argument 1
call МассивныеПомогаторы.копироватьМассив 2
pop local 1
push argument 1
call Array.new 1
pop local 0
push argument 1
pop local 4
push constant 0
pop local 5
label WHILE_EXP0
push local 5
push argument 1
lt
not
if-goto WHILE_END0
push constant 0
push local 4
call Случайность.Между 2
pop local 3
push local 3
push local 1
add
pop pointer 1
push that 0
pop local 2
push local 5
push local 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 5
push constant 1
add
pop local 5
push constant 0
pop local 6
label WHILE_EXP1
push local 6
push local 4
lt
not
if-goto WHILE_END1
push local 6
push local 3
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 6
push local 1
add
pop pointer 1
push that 0
pop local 2
push local 6
push constant 1
sub
push local 1
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 6
push constant 1
add
pop local 6
goto WHILE_EXP1
label WHILE_END1
push local 4
push constant 1
sub
pop local 4
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function МассивныеПомогаторы.копироватьМассив 3
push argument 1
call Array.new 1
pop local 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 1
lt
not
if-goto WHILE_END0
push local 0
push argument 0
add
pop pointer 1
push that 0
pop local 1
push local 0
push local 2
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 2
return
